body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
   
    
}

nav ul li {
    display: inline;
    margin: 0px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    
    
}

/* nav ul li a:hover {
    transition: red 0.3s ease;
     background-color: red;
} */