/* Affects all attritbutes and tags unless targeted individually */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling for all the elements in body */

body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Header */
header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 26px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}



nav ul li a:hover {
    background-color: #0066cc;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(255, 191, 191, 0), rgba(255, 191, 191, 0)), url(./assets/hero-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 80px 20px;
    text-align: center;
    border-bottom: 5px solid #004080;
    }

.hero h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.hero p {
    font-size: 18px;
    margin: 0;
}
